body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: lightsalmon;
    margin: 0;
}
h1 {
    font-size: 2.2rem;
}
header, footer {
    min-height: 45px;
    width: 100%;
    background-color: teal;
}
header nav, footer nav {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-left: 75px;
}
nav a {
    padding-right: 80px;
    color: lightsalmon;
    text-decoration: none;
    
}
.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 30rem;
    padding-top: 1rem;
    background-image: url('../run.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.intro h1{
    color: Coral;
    font-size: 2rem;
    padding: 15px;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    text-align: center;
    width: 100%;
}
.summary {
    padding: 10px;
}
.summary h1 {
    color: yellow;
}
.summary p {
    color: white;
}
.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}
.photos img {
    margin-top: 20px;
    height: auto;
    width: 450px;

}
.quote {
    margin-top: 85px;
    height: 250px;
    padding: 10px;
    background-color: teal;
}
.quote h1, p {
    color: yellow;

}
.invite {
    text-align: center;
    color: yellow;
}
.invite img {
    width: 50%;
}
@media only screen and (max-width: 640px) {
    header nav, footer nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quote p {
        display: none;
    }
}

